<% @article.each do |a| %>

	<p>
		<h4>Title:</h4>
		<%= a.title %>

	</p>

	<p>
		<h4>Description:</h4>
		<%= a.description %>
	</p>
	<br>
	<%= link_to 'delete', a, method: :delete%>

<%end%>

<%= link_to 'create new', 'articles/new', method: :get %>